@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
body {
  background-color: #ebe1e1;
}
.weather-app {
  height: 100vh;
  padding: 1em;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}
