@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url("normalize.css");

body {
  background-color: grey;
}

.weather-app {
  height: 100vh;
  padding: 1em;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}
