.location-details {
    border-radius: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.73;
}